@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-tabl {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-desktop {
    display: none !important;
  }
}
.hidden-all {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.hidden-all {
  /*     display: none; */
}

body {
  font-family: arial, sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.rs-spacing, .crypto__ul, .crypto__title {
  margin: 0;
  padding: 0;
}

.crypto-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: #1A3B42;
  padding: 0 10px;
  border-bottom: 1px solid #062428;
}
@media (min-width: 992px) {
  .crypto-header {
    height: 75px;
  }
}
.crypto-header__select {
  appearance: none;
  background-color: initial;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  position: relative;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 65px;
  background-position-y: -2px;
}
.crypto-header__select i.fa {
  position: absolute;
  top: 0;
  right: 0;
}
.crypto-header__logo {
  width: 120px;
}
.crypto-header__logo img {
  width: inherit;
}
@media (min-width: 992px) {
  .crypto-header__logo {
    width: 250px;
  }
}
.crypto-header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.crypto-header__right > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.crypto-header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.crypto-header__form {
  display: flex;
  flex-direction: column;
}
.crypto-header__label {
  color: rgba(255, 255, 255, 0.3);
  text-transform: capitalize;
  font-size: 14px;
  position: relative;
  top: 5px;
}
.crypto-header__info {
  position: relative;
}
.crypto-header__info:after {
  content: "";
  width: 1px;
  height: 140%;
  position: absolute;
  right: 0;
  top: -5px;
  background-color: rgba(106, 137, 142, 0.5);
}
.crypto-header__value {
  font-weight: bold;
}
.crypto-header__market {
  padding: 0 15px;
}
.crypto-header__profile {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  font-weight: 500;
}
.crypto-header__avatar {
  /*         overflow: hidden; */
  margin-left: 15px;
}
.crypto-header__user {
  text-transform: capitalize;
}
.crypto-header__user i {
  font-size: 12px;
}
.crypto-header__image {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100px;
  border: 3px solid rgba(255, 255, 255, 0.9);
  /*         display: none; */
}

.crypto__row {
  display: flex;
  flex-direction: column;
  border: 1px solid #314F55;
}
@media (min-width: 766px) {
  .crypto__row {
    flex-direction: row;
  }
}

.crypto__col {
  position: relative;
}
@media (min-width: 767px) {
  .crypto__col:first-child {
    border-right: 1px solid #314F55;
  }
}
@media (min-width: 767px) {
  .crypto__col {
    width: 322.5px;
  }
}

.on_hold {
  color: rgba(255, 255, 255, 0.9);
}

.success {
  color: #007BEF;
}

.failed {
  color: #FF0062;
}

.accent {
  color: rgb(226, 184, 0);
}

.bg-accent {
  background-color: rgb(226, 184, 0);
  color: #1a1a1a;
}

.crypto {
  position: relative;
  background-color: rgb(11, 60, 67);
}
@media (min-width: 767px) {
  .crypto {
    width: 645px;
    position: absolute;
    top: 0;
    left: 70px;
    z-index: -1;
  }
}
.crypto #close_btn {
  position: absolute;
  top: 12px;
  right: 24px;
  color: #607a7d;
  z-index: 10;
}
.crypto #close_btn i {
  font-weight: bold;
}
.crypto * {
  position: relative;
}
@media (min-width: 767px) {
  .crypto__section.has-table {
    overflow-y: scroll;
  }
}
.crypto__section.inactive {
  color: rgba(255, 255, 255, 0.4);
}
.crypto__section.inactive .crypto__link {
  color: inherit;
}
.crypto__title {
  padding: 10px 20px;
  background-color: #295056;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
}
.crypto__ul {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(106, 137, 142, 0.4);
}
.crypto__li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  position: relative;
}
.crypto__li:after {
  content: "";
  width: 1px;
  height: 78%;
  background-color: rgba(106, 137, 142, 0.2);
  position: absolute;
  right: -1px;
  top: 4px;
  z-index: 10;
}
.crypto__li:last-child:after {
  display: none;
}
.crypto__link {
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  width: 100%;
  padding: 10px 0;
  position: relative;
  top: 1px;
  background-color: #063137;
}
.crypto__link.active {
  border-bottom: 1px solid rgb(226, 184, 0);
  color: rgb(226, 184, 0) !important;
}
.crypto__table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.crypto__heading {
  vertical-align: middle;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  padding: 10px 0 10px 18px;
  /*         padding-left: 18px; */
  background-color: #063137;
  height: 35px;
  position: relative;
  top: 1px;
}
.crypto__remove {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  position: relative;
  top: 2px;
  font-size: 20px;
  display: inline-block;
}
.crypto__date {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  text-transform: capitalize;
}
.crypto__hour {
  color: rgba(255, 255, 255, 0.3);
  text-align: left;
  display: block;
}
.crypto__time {
  text-align: left;
  position: relative;
  left: 18px;
}
.crypto__number.price_down {
  color: #FF0062;
}
.crypto__number.price_up {
  color: #007BEF;
}
table .crypto__fractional {
  font-weight: 600;
  font-size: 19px;
}

.crypto_table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.crypto_table__heading {
  vertical-align: middle;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  padding-left: 18px;
  background-color: #063137;
  height: 35px;
}
.crypto_table__data {
  padding: 5px 0;
  text-align: center;
  /*         padding-left: 20px; */
}

.crypto_form {
  padding: 20px 15px;
}
.crypto_form__row {
  display: flex;
  margin: 0 -10px;
}
.crypto_form__column {
  flex-grow: 1;
  padding: 0 10px;
}
.crypto_form__select, .crypto_form__input {
  display: block;
  width: 100%;
  border: 1px solid #6A898E;
  border-radius: 5px;
  background-color: #295056;
  height: 40px;
  border: 1px solid #6A898E;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 8px;
  margin-bottom: 12px;
}
.crypto_form__input {
  /*         width: 160px; */
}
.crypto_form__select {
  margin-bottom: 25px;
  border: 10px solid transparent;
  height: 45px;
  outline: 1px solid #6A898E;
  text-transform: capitalize;
}
.crypto_form__label {
  text-transform: capitalize;
  font-size: 14px;
  padding-bottom: 12px;
}
.crypto_form__submit {
  text-transform: uppercase;
  display: block;
  padding: 12px 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 0.9);
}
.crypto_form__buy {
  background-color: #007BEF;
}
.crypto_form__sell {
  background-color: #FF0062;
}

#crypto_market .crypto_table__head {
  border-bottom: 2px solid rgba(106, 137, 142, 0.4);
}
#crypto_market .crypto_table__data {
  text-align: left;
  padding-left: 20px;
}
#crypto_market .crypto_table__foot {
  border-top: 1px solid #314F55;
  border-bottom: 1px solid #314F55;
}
#crypto_market .crypto_table__foot > .crypto_table__row > th {
  display: table-cell;
  background-color: initial;
  color: rgba(255, 255, 255, 0.9);
}
#crypto_market .crypto_table__foot > .crypto_table__row > th .crypto__number {
  font-size: 16px;
  color: inherit;
}
#crypto_market .crypto_table__foot > .crypto_table__row > th .crypto__fractional {
  font-weight: normal;
  font-size: inherit;
}
#crypto_market .crypto_table__row > td:nth-child(1) .crypto__number {
  font-weight: 700;
}
#crypto_market .crypto_table__row > td:nth-child(1) .crypto__number:after {
  content: "00000";
  color: rgba(106, 137, 142, 0.9);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #09242A;
  border-radius: 5px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100%;
  text-align: center;
  background-color: #000;
}
@media (min-width: 992px) {
  .sidenav {
    height: calc(100vh - 115px);
  }
}
.sidenav__btn {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  background-color: #1a1a1a;
}
.sidenav__label {
  text-transform: capitalize;
  font-size: 14px;
}
.sidenav i {
  display: block;
  font-size: 18px;
}

@media (min-width: 767px) {
  .main {
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
}

.copyright {
  margin-left: 25px;
  text-transform: capitalize;
  font-size: 14px;
}
.copyright__company {
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1a1a1a;
  position: relative;
  z-index: 20;
  padding: 25px 15px;
}
@media (min-width: 767px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0;
  }
}
.footer #support-btn {
  width: 70px;
}
.footer #setting-btn {
  width: 57px;
}
.footer a i {
  font-size: 19px;
  top: 5;
}
.footer__time {
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 14px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 767px) {
  .footer__right {
    flex-direction: row;
    align-items: center;
  }
}

#support-btn {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  padding: 10px 0;
  color: #1a1a1a;
}

#setting-btn {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  text-transform: capitalize;
  padding: 10px 0;
  background-color: #768E92;
}

@media (min-width: 767px) {
  .crypto__section.has-table {
    height: 842px;
  }
}

@media (min-width: 767px) {
  .crypto__section.inactive.has-table {
    height: 475px;
  }
}

/*# sourceMappingURL=main.css.map */
